.fields{
    margin-top: 30%;
    margin-left: 50px;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-end{
    margin-right: 19%;
    margin-top: 5px;
    cursor: pointer;
}

.text-end:hover{
    color: #cfbd97;
}

.button-contain{
    width: 100%;
    margin-top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 9%;
}

p{
    font-family: 'Montaga, serif';
    font-size: 12px;
}

.text-center{
    margin-top: 10%;
    margin-right: 10%;
    font-size: 10px;
    cursor: pointer;
}

.text-center:hover{
    color: #cfbd97;
}